@charset "utf-8";
/* CSS Document */

/*---------- Google Fonts ----------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* font-family: "DM Sans", serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", serif; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&display=swap');
/* font-family: "Fira Sans Condensed", serif; */

:root {
	--white: #fff;
	--orange: #F47929;
	--black: #171717;
	--teal: #41A3A3;
	--lightCyan: #75D2D4;
	--yellow: #FAA634;
	--sky: #D4F1F2;
	--orange50: #FEF2EA;
	--grey3: #F6F6F6;
	--grey4: #F1F1F1;
	--grey5: #DCDCDC;
}

body {
	font-family: "Inter", serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	background-color: var(--white);
	color: var(--black);
}

figure {
	margin: 0;
}

a,
input,
button,
textarea {
	outline: none !important;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all ease-in-out 300ms;
	-webkit-transition: all ease-in-out 300ms;
	-ms-transition: all ease-in-out 300ms;
	-o-transition: all ease-in-out 300ms;
	-moz-transition: all ease-in-out 300ms;
}

.container-fluid,
.container {
	padding-left: 15px;
	padding-right: 15px;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.row>* {
	padding-left: 15px;
	padding-right: 15px;
}

p {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}

p a {
	text-decoration: none;
	color: inherit;
}

p a:hover {
	color: var(--orange);
}

ul li,
ol li {
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}

ul li a,
ol li a {
	text-decoration: none;
	color: inherit;
}

ul li a:hover,
ol li a:hover {
	color: var(--orange);
}

/* Common Style Start */
.main-title {
	font-family: "DM Sans", serif;
	font-size: 68px;
	line-height: 72px;
	font-weight: 700;
	text-transform: capitalize;
}

.main-title span {
	color: var(--orange);
}

.main-title * {
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	margin: 0;
}

.banner-title {
	font-family: "DM Sans", serif;
	font-size: 56px;
	line-height: 62px;
	font-weight: 700;
	text-transform: capitalize;
}

.banner-title span {
	color: var(--orange);
}

.banner-title * {
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	margin: 0;
}

.section-title {
	font-family: "DM Sans", serif;
	font-size: 44px;
	line-height: 52px;
	font-weight: 700;
	text-transform: capitalize;
}

.section-title span {
	color: var(--orange);
}

.section-title * {
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	margin: 0;
}

.block-title {
	font-family: "DM Sans", serif;
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
}

.block-title * {
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	margin: 0;
}

.small-title {
	font-family: "DM Sans", serif;
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
}

.small-title * {
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	margin: 0;
}

.large-detail {
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
}

.large-detail * {
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	margin: 0;
}

.common-detail {
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
}

.common-detail * {
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	margin: 0;
}


.detail * {
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	margin: 0;
}

.small-detail {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.small-detail * {
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	margin: 0;
}

.btn {
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 14px 34px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.btn-orange {
	color: var(--white);
	border: 2px solid var(--orange);
	background-color: var(--orange);
	-moz-box-shadow: 0px -5px 0px 0px #DE6E25 inset;
	-webkit-box-shadow: 0px -5px 0px 0px #DE6E25 inset;
	box-shadow: 0px -5px 0px 0px #DE6E25 inset;
}

.btn-orange:hover {
	border-color: #d95906 !important;
	color: var(--white) !important;
	background-color: #d95906 !important;
	-moz-box-shadow: 0px -5px 0px 0px #d95906 inset;
	-webkit-box-shadow: 0px -5px 0px 0px #d95906 inset;
	box-shadow: 0px -5px 0px 0px #d95906 inset;
}

.btn-yellow {
	background: -moz-linear-gradient(180deg, #FFDE21 39.18%, #D78F00 124.37%);
	background: -webkit-linear-gradient(180deg, #FFDE21 39.18%, #D78F00 124.37%);
	background: linear-gradient(180deg, #FFDE21 39.18%, #D78F00 124.37%);
	-moz-box-shadow: 0px -5px 0px 0px #FFDE21 inset;
	-webkit-box-shadow: 0px -5px 0px 0px #FFDE21 inset;
	box-shadow: 0px -5px 0px 0px #FFDE21 inset;
	border: 2px solid var(--black);
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
}

.btn-yellow:hover {
	background: #d95906;
	border-color: #d95906;
	color: var(--white);
	-moz-box-shadow: 0px -5px 0px 0px #d95906 inset;
	-webkit-box-shadow: 0px -5px 0px 0px #d95906 inset;
	box-shadow: 0px -5px 0px 0px #d95906 inset;
}

/* Common Style End */


/*==================================================================*/
/*========== Header Start ==========*/
/*==================================================================*/
.header {
	position: absolute;
	left: 32px;
	right: 32px;
	top: 52px;
	z-index: 999;
}

.header .navbar {
	padding: 0;
}

.header .navbar-brand {
	max-width: 93px;
	width: 100%;
	padding: 0;
	margin: 0;
}

.header .navbar-nav {
	/*padding: 14px 2px;
	background-color: var(--white);*/
	/*border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;*/
}

.header .navbar-nav .nav-item {
	padding: 0 28px;
}

/* .header .navbar-nav .nav-item:first-child {
	padding-left: 0;
}

.header .navbar-nav .nav-item:last-child {
	padding-right: 0;
} */

.header .navbar-nav .nav-item .nav-link {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--black);
	/*padding: 0;*/
	position: relative;
	display: inline-block;
	transition: background-color 0.3s, color 0.3s; /* Smooth hover effect */
	padding: 10px 15px; /* Set consistent padding for both states */
}	

.header .navbar-nav .nav-item .nav-link::after {
	content: "";
	background-color: var(--teal);
	width: 0;
	position: absolute;
}

/*.header .navbar-nav .nav-item .nav-link:hover,
.header .navbar-nav .nav-item .nav-link.active {
	color: var(--teal);
}*/

/* custom added by ouss for testing*/
.header .navbar-nav .nav-item .nav-link:hover {
	background-color: var(--white); /* Use the existing yellow variable */
	color: #7fcccc; /* Ensure text color contrasts well */
	padding: 10px 15px; /* Add some padding to create a rectangular effect */
	border-radius: 5px;

}


.header .navbar-nav .nav-item .nav-link:hover::after,
.header .navbar-nav .nav-item .nav-link.active::after {
	width: 100%;
}

.header-btn .btn {
	font-size: 16px;
	line-height: 24px;
	padding: 12px 30px;
}

/*==================================================================*/
/*========== Header End ==========*/
/*==================================================================*/



/*==================================================================*/
/*========== New Class Add Start ==========*/
/*==================================================================*/


/*========== Home Page Start ==========*/

/* Banner Start */
.banner-wrp {
	/*background-image: url("../images/banner-Subtract.svg");
	background-repeat: no-repeat;*/
	background-color: #92d3d3;
	background-size: 100% 100%;
	background-position: center;
	/* background-color: var(--sky); */
	margin: 0 32px 0;
	padding: 90px 0 38px;
	position: relative;
	z-index: 9;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.banner-wrp::before {
	content: "";
	background-image: url('../images/dead-sea-banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.1; /* Adjust transparency here */
}

/* .banner-wrp::after {
	content: "";
	background-color: var(--white);
	width: 138px;
	height: 138px;
	position: absolute;
	left: 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
} */

.banner-content .main-title {
	margin: 0 0 24px;
}

.banner-content .large-detail {
	margin: 0 0 40px;
}

.banner-img {
	margin: 0 0 0 -50px;
}

.scroll-down {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -19px;
	max-width: 16px;
	width: 100%;
}

.scroll-down figure {
	display: flex;
}
/* Banner End */

/* Healthy Start */
.healthy-wrp {
	padding: 50px 0 57px;
	/*margin: 0 28px 0;*/
}

.healthy-title {
	max-width: 624px;
	width: 100%;
	margin: 0 auto 56px;
	text-align: center;
}

.healthy-title .section-title {
	margin: 0 0 16px;
}

.healthy-title .detail {
	margin: 0 30px;
}

.healthy-section .row {
	margin: 0;
}

.healthy-section .row>* {
	padding: 0 16px;
}

.healthy-block {
	padding: 0 24px 43px;
	text-align: center;
	background-color: var(--sky);
	border-bottom: 5px solid var(--orange);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 60px 0 36px;
	position: relative;
	cursor: pointer;
	height: calc(100% - 96px);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

/* .healthy-block::after {
	content: "";
	content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
	background-color: var(--orange);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	bottom: -5px;
	z-index: -1;
	border-radius: 0 0 12px 12px;
	-webkit-border-radius: 0 0 12px 12px;
	-moz-border-radius: 0 0 12px 12px;
	-ms-border-radius: 0 0 12px 12px;
	-o-border-radius: 0 0 12px 12px;
} */

.healthy-block:hover {
	background-color: var(--orange);
	background-image: url("../images/hover-lines.png");
	color: var(--white);
	-moz-box-shadow: 0px 87px 24px 0px rgba(0, 0, 0, 0.00), 0px 56px 22px 0px rgba(0, 0, 0, 0.02), 0px 31px 19px 0px rgba(0, 0, 0, 0.05), 0px 14px 14px 0px rgba(0, 0, 0, 0.09), 0px 3px 8px 0px rgba(0, 0, 0, 0.11);
	-webkit-box-shadow: 0px 87px 24px 0px rgba(0, 0, 0, 0.00), 0px 56px 22px 0px rgba(0, 0, 0, 0.02), 0px 31px 19px 0px rgba(0, 0, 0, 0.05), 0px 14px 14px 0px rgba(0, 0, 0, 0.09), 0px 3px 8px 0px rgba(0, 0, 0, 0.11);
	box-shadow: 0px 87px 24px 0px rgba(0, 0, 0, 0.00), 0px 56px 22px 0px rgba(0, 0, 0, 0.02), 0px 31px 19px 0px rgba(0, 0, 0, 0.05), 0px 14px 14px 0px rgba(0, 0, 0, 0.09), 0px 3px 8px 0px rgba(0, 0, 0, 0.11);
}

/* .healthy-block:hover::after {
	background-image: url("../images/hover-lines.png");
	z-index: 0;
} */

.healthy-icon {
	width: 120px;
	height: 120px;
	margin: 0 auto -25px;
	position: relative;
	top: -60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--orange50);
	border: 5px solid var(--white);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.healthy-content .block-title {
	margin: 0 0 12px;
}

.healthy-content .detail {
	max-width: 291px;
	width: 100%;
	margin: 0 auto;
}

/* Healthy End */

/* Fat Loss Ingredients Start */
.ingredients-wrp {
	padding: 88px 20px 58px;
	margin: 0 32px 40px;
	background-color: var(--grey3);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.ingredients-logos-main {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 -12px 24px;
}

.ingredients-logos {
	padding: 0 12px;
}

.ingredients-logos img {
	width: 65px;
}

.ingredients-title {
	max-width: 728px;
	width: 100%;
	margin: 0 auto 56px;
	text-align: center;
}

.ingredients-title .section-title {
	margin: 0 0 16px;
	text-transform: unset;
}

.ingredients-block {
	overflow: hidden;
	background-color: var(--white);
	border: 5px solid var(--grey4);
	text-align: center;
	margin: 0 0 30px;
	height: calc(100% - 30px);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.ingredients-content {
	padding: 32px 11px 35px;
}

.ingredients-content .small-title {
	margin: 0 0 12px;
}

.ingredients-img img {
	height: 251px;
	width: 100%;
	object-fit: cover;
}

.ingredients-section .row {
	margin: 0 -16px;
}

.ingredients-section .row>* {
	padding: 0 16px;
}
/* Fat Loss Ingredients End */

/* Offers Start */
.offers-wrp {
	padding: 50px 20px 64px;
	margin: 0 32px 0;
	background-color: var(--sky);
	background-image: url("../images/offers-lines.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.offers-main > .section-title {
	max-width: 800px;
	width: 100%;
	margin: 0 auto 56px;
	text-align: center;
}

.offers-section .row {
	margin: 0 -16px;
}

.offers-section .row>* {
	padding: 0 16px;
}

.offers-block {
	padding: 0 0 3px;
	cursor: pointer;
	/*overflow: hidden;
	*/background-color: var(--white);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.offers-block:hover {
	transform: scale(1.025);
	-webkit-transform: scale(1.025);
	-moz-transform: scale(1.025);
	-ms-transform: scale(1.025);
	-o-transform: scale(1.025);
}

.offers-block-title {
	background-color: var(--teal);
	clip-path: polygon(100% 0, 100% 76%, 50% 100%, 0 72%, 0 0);
	text-align: center;
	padding: 10px 0 32px;
	color: var(--white);
	margin: -1px -2px 0;
	border-radius: 12px 12px 0 0;
	-webkit-border-radius: 12px 12px 0 0;
	-moz-border-radius: 12px 12px 0 0;
	-ms-border-radius: 12px 12px 0 0;
	-o-border-radius: 12px 12px 0 0;
}

.offers-block-title .section-title {
	text-transform: unset;
}

.offers-product-img {
	text-align: center;
}

.offers-product-price {
	margin: 0 0;
}

.offers-product-price h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.offers-product-price span {
	font-family: "Fira Sans Condensed", serif;
	font-size: 80px;
	line-height: 132px;
	font-weight: 400;
	display: block;
	/*padding: 0 6px;*/
}

.offers-product-price b {
	font-family: "DM Sans", serif;
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
	display: block;
}

.offers-product-price small {
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	display: block;
	max-width: 52px;
}


.common-list ul {
	padding: 0;
	margin: 0 32px;
}

.common-list ul li {
	list-style-type: none;
	text-align: center;
	padding: 12px 0;
	border-bottom: 1px solid var(--grey5);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.common-list ul li::before {
	content: "";
	background-image: url("../images/check.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	display: flex;
	margin: 0 8px 0 0;
}

.payments-block ul {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.payments-block ul li {
	list-style-type: none;
	padding: 0 8px 0 0;
}

.payments-block ul li:last-child {
	padding-right: 0;
}

.payments-block {
	margin: 32px 0 24px;
}

.offers-total p {
	margin: 0 0 2px 0;
	text-align: center;
	color: #0A0A0B;
}

.offers-total p strong {
	font-weight: 700;
	display: inline-block;
	padding: 0 0 0 8px;
}

.offers-total p:last-child {
	margin-bottom: 0;
}

.offers-btn {
	margin: 10px 32px 0;
}

.offers-btn .btn {
	width: 100%;
}

.best-offer-block {
	background-color: #ECF6F6;
	border: 5px solid var(--orange);
	-moz-box-shadow: 0px 260px 73px 0px rgba(0, 0, 0, 0.00), 0px 166px 67px 0px rgba(0, 0, 0, 0.01), 0px 94px 56px 0px rgba(0, 0, 0, 0.02), 0px 42px 42px 0px rgba(0, 0, 0, 0.04), 0px 10px 23px 0px rgba(0, 0, 0, 0.04);
	-webkit-box-shadow: 0px 260px 73px 0px rgba(0, 0, 0, 0.00), 0px 166px 67px 0px rgba(0, 0, 0, 0.01), 0px 94px 56px 0px rgba(0, 0, 0, 0.02), 0px 42px 42px 0px rgba(0, 0, 0, 0.04), 0px 10px 23px 0px rgba(0, 0, 0, 0.04);
	box-shadow: 0px 260px 73px 0px rgba(0, 0, 0, 0.00), 0px 166px 67px 0px rgba(0, 0, 0, 0.01), 0px 94px 56px 0px rgba(0, 0, 0, 0.02), 0px 42px 42px 0px rgba(0, 0, 0, 0.04), 0px 10px 23px 0px rgba(0, 0, 0, 0.04);
}

.best-offer-block .offers-block-title {
	background-color: var(--orange);
	padding: 32px 0 40px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

.best-offer-block .offers-btn {
	margin: 10px 27px 0;
}

.offers-btn .btn {
	font-size: 24px;
	line-height: 32px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
}

.offers-btn .btn span {
	font-size: 14px;
	line-height: 20px;
	display: block;
	text-transform: capitalize;
}

.best-offer-block .common-list ul li::before {
	background-image: url("../images/teal-check.svg");
}

.best-offer-block .common-list ul li {
	border-bottom-color: #C4E2E2;
}

.best-offer-block .offers-product-price {
    margin: 9px 0 12px;
}

.offers-total span {
	display: inline-block;
	position: relative;
	margin: 0 4px 0 8px;
}

.offers-total span::after {
	content: "";
	background-color: #ED0006;
	width: 48px;
	height: 3px;
	position: absolute;
	left: -5px;
	right: 0;
	top: 11px;
}


/* Offers End */

/* Guarantee Start */
.guarantee-wrp {
	background-image: url("../images/guarantee-lines.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 88px 0 25px;
}

.guarantee-main {
	text-align: center;
}

.guarantee-main .badge-img {
	margin: 0 0 24px;
}

.guarantee-main .section-title {
	margin: 0 0 24px;
	text-transform: unset;
}

.guarantee-main .section-title span {
	display: block;
}

.guarantee-main .detail {
	max-width: 904px;
	width: 100%;
	margin: 0 auto 33px;
}

.guarantee-main .ingredients-logos {
    padding: 0 20px;
}

.guarantee-main .ingredients-logos img {
	width: 96px;
}

/* Guarantee End */

/* Faq Start */
.faq-wrp {
	padding: 39px 0 64px;
}

.faq-main {
	max-width: 904px;
	width: 100%;
	margin: 0 auto;
}

.faq-main .section-title {
	text-align: center;
	margin: 0 0 56px;
}

.faq-section .accordion-item {
	padding: 17px 21px 17px 18px;
	margin: 0 0 24px;
	background-color: var(--white);
	border: 1px solid var(--grey5);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.faq-section .accordion-item.active {
	background-color: var(--grey3);
}

.faq-section .accordion-button {
	background-color: transparent;
	border: none;
	box-shadow: none;
	color: var(--teal);
	padding: 0 20px 0 0;
}

.faq-section .accordion-body {
	padding: 16px 0 0;
}

.faq-section .accordion-button::after {
	width: 17px;
	height: 2px;
	background-color: var(--orange);
	background-image: none;
	position: absolute;
	right: 0;
	top: 50%;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.faq-section .accordion-button::before {
	content: "";
	width: 2px;
	height: 17px;
	background-color: var(--orange);
	background-image: none;
	position: absolute;
	right: 7px;
	top: 50%;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

.faq-section .accordion-button:not(.collapsed)::after {
	background-color: var(--teal);
}

.faq-section .accordion-button:not(.collapsed)::before {
	transform: translate(0, -50%) rotate(90deg);
	-webkit-transform: translate(0, -50%) rotate(90deg);
	-moz-transform: translate(0, -50%) rotate(90deg);
	-ms-transform: translate(0, -50%) rotate(90deg);
	-o-transform: translate(0, -50%) rotate(90deg);
}
/* Faq End */

/* References Start */
.references-wrp {
	padding: 68px 0 88px;
}

.references-main > .section-title {
	text-align: center;
	margin: 0 0 50px;
}

.references-right .section-title {
	margin: 0 0 56px;
}

.references-details {
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 16px;
}

.references-details:last-child {
	margin-bottom: 0;
}

.references-details p {
	margin: 0 0 4px;
}

.references-details p:last-child {
	margin-bottom: 0;
}

.references-details p span {
	color: #979797;
}

.slick-dots {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slick-dots li {
	font-size: 0;
	line-height: 0;
	list-style-type: none;
	padding: 0 24px 0 0;
}

.slick-dots li:last-child {
	padding-right: 0;
}

.slick-dots li button {
	width: 16px;
	height: 16px;
	border: 1px solid #C5C5C5;
	background-color: transparent;
	font-size: 0;
	line-height: 0;
	padding: 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.slick-dots li.slick-active button {
	background-color: #C5C5C5;
}

.references-slider .slick-dots {
	margin: 32px 0 0;
}

.references-img {
	text-align: center;
	margin: 4px 0 0;
}
/* References End */

/*========== Home Page End ==========*/

/*========== Vsl Page Start ==========*/
.vsl-banner-main {
	text-align: center;
}

.vsl-banner-main .banner-title {
	max-width: 801px;
	width: 100%;
	margin: 0 auto 24px;
}

.vsl-banner-main .detail {
	font-weight: 700;
	margin: 0 0 32px;
}

.vsl-banner-wrp {
	background-image: url("../images/banner-Subtract.svg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
	position: relative;
	z-index: 9;
	margin: 0 32px 16px;
	padding: 32px 0 76px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.vsl-banner-wrp::before {
	content: "";
    background-image: url(../images/Lines.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.vsl-video {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	border: 10px solid var(--grey4);
	overflow: hidden;
	position: relative;
	display: flex;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.vsl-video video {
	width: 100%;
	object-fit: cover;
}

.play-icon,
.pause-icon {
	width: 96px;
	height: 96px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	display: none;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
}

.vsl-video:hover .play-icon {
	display: block;
}
/*========== Vsl Page End ==========*/

/*========== Vsl Opened Page End ==========*/
.reviews-wrp {
	padding: 88px 0 72px;
	margin: 40px 32px 0;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.reviews-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 56px;
}

.reviews-top .btn {
	flex: 0 0 auto;
}

.reviews-top .section-title {
	max-width: 682px;
	width: 100%;
	text-transform: unset;
}

.star-reviews {
    position: relative;
    vertical-align: middle;
    display: block;
    overflow: hidden;
	max-width: 144px;
	width: 100%;
	margin-left: auto;
	margin-bottom: 24px;
}

.empty-stars, .full-stars {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
}

.star-reviews img {
	width: 24px;
	margin: 0 6px 0 0;
}

.reviews-item {
	height: auto !important;
	margin: 0 16px;
	padding: 35px 19px 19px;
	border: 5px solid var(--grey4);
	background-color: var(--white);
	display: flex !important;
    flex-direction: column;
    justify-content: space-between;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.reviews-name .common-detail {
	font-weight: 500;
	color: var(--teal);
}

.reviews-name .details {
	font-size: 14px;
	line-height: 20px;
	color: #979797;
}

.reviews-name .details p {
	margin: 0;
}

.reviews-bottom {
	display: flex;
	align-items: center;
	padding: 24px 0 0;
	border-top: 1px solid var(--grey5);
}

.reviews-img {
	width: 72px;
	height: 72px;
	flex: 0 0 auto;
	margin: 0 12px 0 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.reviews-item .detail {
	margin: 0 0 24px;
}

.reviews-slider {
	opacity: 0;
	margin: 0 -16px;
}

.reviews-slider .slick-track {
	display: flex;
}

.reviews-slider.slick-initialized {
	opacity: 1;
}

.reviews-slider .slick-dots {
	padding: 32px 0 0;
}

.vsl-banner-wrp2 {
	margin-bottom: 60px;
}
/*========== Vsl Opened Page End ==========*/

/*========== Contact Page Start ==========*/
.contact-wrp {
	margin: 156px 32px 88px 0; 
	position: relative;
}

.contact-main {
	position: relative;
	z-index: 9;
}

.contact-img-main {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
}

.contact-img {
	text-align: right;
}

.contact-img img {
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.contact-left .section-title {
	margin: 0 0 16px;
} 

.how-to-reach .small-title,
.product-return-block .small-title {
	margin: 0 0 16px;
}

.how-to-reach-block ul {
	padding: 0;
	margin: 0;
}

.how-to-reach-block ul li {
	list-style-type: none;
	padding: 0 0 12px;
}

.how-to-reach-block ul li:first-child a {
	border-bottom: 1px solid var(--black);	
}

.how-to-reach-block ul li a:hover {
	color: var(--orange);
	border-bottom-color: var(--orange);
}


.how-to-reach-block p {
	margin: 0;
	padding: 0 0 12px;
}

.how-to-reach-block p:last-child {
	padding-bottom: 0;
}

.how-to-reach {
	padding: 32px 0;
}

.how-to-reach-block {
	background-color: var(--grey4);	
	padding: 16px 24px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.product-return-block .detail ul {
	padding: 12px 0 12px 30px;
}

.product-return-block .small-detail {
	padding: 0 0 12px;
}

.product-return-block .detail a {
	border-bottom: 1px solid var(--black);	
}

.product-return-block .detail a:hover {
	color: var(--orange);
	border-bottom-color: var(--orange);
}

.contact-top {
	margin: 0 10px 0 0;
}

.contact-left {
	padding: 44px 0;
}
/*========== Contact Page End ==========*/

/*========== Thank You Page Start ==========*/
.order-validated-main {
	text-align: center;
}

.order-validated-main .small-title {
	font-weight: 900;
	margin: 0 0 4px;
}

.order-validated-main .main-title {
	margin: 0 0 16px;
	text-transform: unset;
}

.order-validated-img img {
	margin: 0 0 -180px;
	height: 602px;
}

.order-validated-wrp {
	padding: 40px 20px 0;
	margin: 0 32px 0;
}

.thank-you-details-wrp {
	padding: 166px 0 88px;
}

.thank-you-details-main {
	text-align: center;
}

.thank-you-details-main .attention {
	max-width: 617px;
	width: 100%;
	margin: 0 auto;
	background-color: var(--grey4);
	padding: 16px 32px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.thank-you-details-main .attention p {
	margin: 0;
}

.bravo-block {
	max-width: 802px;
	width: 100%;
	margin: 88px auto 56px; 
}

.bravo-block .section-title {
	margin: 0 0 24px;
}

.bravo-block .common-detail p {
	padding: 0 0 12px;
}

.bravo-block .common-detail p a {
	border-bottom: 1px solid var(--black);
}

.bravo-block .common-detail p a:hover {
	color: var(--orange);
	border-bottom-color: var(--orange);
}

.bravo-block .common-detail p:last-child {
	padding-bottom: 0;
}

.order-summary ul {
	padding: 0;
	max-width: 431px;
	width: 100%;
	margin: 0 auto 72px;
}

.order-summary ul li {
	background-color: var(--grey4);
	padding: 8px 16px;
	margin: 0 0 12px;
	list-style-type: none;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.order-summary ul li span {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 199px;
	width: 100%;
}

.order-summary ul li span::before {
	content: "";
    background-image: url("../images/sky-check.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    display: flex;
    margin: 0 8px 0 0;
}

.order-summary ul li:last-child {
	margin-bottom: 0;
}

.order-summary .small-title {
	margin: 0 0 24px;
}

.signature {
	padding: 8px 0 0;
}
/*========== Thank You Page End ==========*/

/*========== Privacy Policy Page Start ==========*/
.inner-header .navbar {
	justify-content: space-between;
}

.inner-bnr-wrp {
	background-image: url("../images/dead-sea-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	display: flex;
	align-items: center;
	text-align: center;
	min-height: 250px;
	/*margin: 32px 32px 0;*/
	/*border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;*/
	opacity: 0.8;
}

.inner-bnr-main {
	padding: 50px 0 0;
}

.inner-bnr-main .large-detail {
	margin: 8px 0 0;
}

.privacy-wrp {
	padding: 50px 0 88px;
}

.privacy-main {
	max-width: 987px;
	width: 100%;
}

.privacy-block {
	margin: 0 0 44px;
}

.privacy-block .small-title {
	margin: 0 0 16px;
}

.privacy-block a {
	border-bottom: 1px solid var(--black);
}

.privacy-block a:hover {
	border-bottom-color: var(--orange);
}

.privacy-block .detail ul {
	padding: 0 0 0 22px;
	margin: 0 0 10px;
}

.privacy-block .detail p,
.privacy-block .detail ul li {
	padding: 0 0 12px;
}

.privacy-block .detail p:last-child,
.privacy-block .detail ul li:last-child {
	padding-bottom: 0;
}

.privacy-block:last-child {
	margin-bottom: 0;
}

.how-to-reach-wrp {
	padding: 12px 0 0;
}

.how-to-reach-wrp .how-to-reach-block {
	padding: 12px 16px;
	margin: 0 0 24px;
}

.how-to-reach-wrp .how-to-reach-block .large-detail {
	margin: 0 0 12px;
}

.reference-wrp .privacy-main {
	max-width: 100%;
	width: auto;
}

.reference-row {
	margin: 0 0 64px;
}

.privacy-block .detail .privacy-block-list li {
	padding: 0;
}
/*========== Privacy Policy Page End ==========*/

/*========== Upsell Page Start ==========*/

.vsl-banner-wrp.upsell-page{
	padding: 50px 0 76px;
	margin-bottom: 210px;
}

.vsl-banner-wrp.upsell-page .vsl-banner-main .vsl-video{
	margin: 0px auto -244px auto;
	max-width: 1080px;
}

.vsl-banner-wrp.upsell-page .vsl-banner-main {
	text-align: start;
}

.vsl-banner-wrp.upsell-page .vsl-banner-main .banner-order-steps{
	display: flex;
	justify-content: space-between;
	max-width: 1050px;
	margin-bottom: 50px;
	background: var(--white);
	padding: 8px 40px 8px 8px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

.banner-order-steps .icon{
	width: 64px;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 64px;
	border-radius: 50%;
	margin-right: 16px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.banner-order-steps .order-step{
	display: flex;
	align-items: center;
}

.banner-order-steps .order-step.active{
	border-radius: 50px;
	border: 10px solid var(--White, #FFF);
	background: var(--Third, #41A3A3);
	padding: 8px 40px 8px 8px;
	margin: -17px 0;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
}

.banner-order-steps .order-step.active .small-title{
	font-size: 32px;
	line-height: 40px;
}

.banner-order-steps .order-step.active .order-details .details{
	font-size: 18px;
	line-height: 28px;
	color: var(--white);
}

.banner-order-steps .order-step  .order-details *{
	margin-bottom: 0;
}

.banner-order-steps .icon .section-title{
	color: var(--white);
}

.special-deal-section{
	padding: 30px 0 30px;
	margin: 30px 32px 32px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.special-deal-section .special-deal-wrap .special-deal-detail{
	margin-bottom: 50px;
}

.special-deal-section .special-deal-wrap .special-deal-right .saving-banner {
	margin-left: -45px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--white);
	border-radius: 12px;
	box-shadow: 0px 4px 11.2px 0px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	
}

.saving-banner .left-details {
	max-width: 310px;
    width: 100%;
    margin: 0 auto;
}

.saving-banner .left-details,
.saving-banner .right-details {
	flex: 0 0 auto;
}

.saving-banner .right-details{
	position: relative;
	padding: 12px;
	border-radius: 0 12px 12px 0;
	-webkit-border-radius: 0 12px 12px 0;
	-moz-border-radius: 0 12px 12px 0;
	-ms-border-radius: 0 12px 12px 0;
	-o-border-radius: 0 12px 12px 0;
}

.special-deal-right .details{
	color: var(--orange);
	font-weight: 700;
}

.special-deal-right .details p {
	margin: 0;
}

.special-deal-detail .large-detail *{
	margin-bottom: 4px;
}

.special-deal-main .special-deal-left{
	position: relative;
	z-index: 1;
	border-bottom: 7px solid var(--orange);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	background-color: var(--teal);
}

.special-deal-main .special-deal-left .special-deal-img{
	border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-ms-border-radius: 0 0 6px 6px;
	-o-border-radius: 0 0 6px 6px;
}

.special-deal-main .special-deal-left .special-deal-top-left {
	padding: 24px 20px 24px;
}

.special-deal-main .special-deal-left .special-deal-top-left .block-title {
	color: var(--white);
	font-weight: 500;
}

.special-deal-main .special-deal-left .special-deal-top-left .block-title span {
	font-weight: 700;
}

.saving-details {
	padding: 16px 24px 16px 40px;
}

.right-details .saving-details {
	padding: 0 24px 0 40px;
}

.saving-details span{
	font-family: "DM Sans";
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%
}

.saving-details span:first-child{
	margin-right: 16px;
	display: inline-block;
}

.saving-details sup{
	top: -1.9em;
}

.saving-details sup{
	font-family: 'Inter';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 12px; /* 100% */
	display: inline-block;
	max-width: 34px;
    text-align: left;
}

.right-details  .right-details-img{
	position: absolute;
	left: -76px;
	top: -30px;
	height: 180px;
}

.right-details  .right-details-img *{
	height: 100%;
	width: 100%;
}

.saving-details sup b{
	color: #0A0A0B;
	font-family: "Inter";
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px; /* 155.556% */
}

.special-deal-right .deal-list{
	padding: 40px 50px 32px 0;
}

.special-deal-right .deal-list ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.special-deal-right .deal-list ul li{
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 15px;
	display: flex;
	/* align-items: center; */
}

.special-deal-right .deal-list ul li::before{
	content: "";
	display: inline-block;
	background: url('../images/yes.png');
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	margin-right: 12px;
	flex: 0  0 auto;
}

.special-deal-right {
	margin: 39px 0 0;
}

.special-deal-right .btn-orange {
	font-family: "DM Sans", serif;
	font-size: 28px;
	font-weight: 800;
	border-radius: 60px;
	padding: 18px 32px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
}

.special-deal-right .btn-orange br {
	display: none;
}

.special-deal-right .btn-orange span {
	font-family: "Inter", serif;
	font-weight: 500;
	display: block;
	text-transform: capitalize;
	font-size: 14px;
	line-height: 20px;
	padding: 5px 0 0;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.special-deal-wrap .details-bottom{
	max-width: 706px;
	margin: 48px auto 0;
	opacity: 0.8;
}

.special-deal-wrap .details-bottom a:first-child {
	text-decoration: underline;
}

.special-deal-right .icon-list ul{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.special-deal-right .icon-list ul li{
	margin-right: 24px;
}

.special-deal-right .icon-list ul li a{
	display: inline-block;
}

.special-deal-right .icon-list {
	margin-top: 28px;
}

.special-deal-right .icon-list ul li:last-child{
	margin-right: 0;
}

.official-page{
	margin: 40px 32px 20px;
	border-radius: 12px;
	padding: 40px 0 40px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.official-page-wrap .block-title span{
	color: var(--orange);
}

.official-page-wrap .official-page-top{
	max-width: 638px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.official-page-wrap .official-page-logo ul{
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: center;
}

.official-page-wrap .official-page-logo ul li{
	margin-right: 56px;
}

.official-page-wrap .official-page-logo ul li a{
	display: inline-block;
}

.official-page-wrap .official-page-logo ul li:last-child{
	margin-right: 0;
}

.official-page .block-title{
	margin-bottom: 16px;
}

.banner-upsell{
	padding: 30px 0 30px;
}

.banner-upsell .banner-shape{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
}

.banner-upsell{
	position: relative;
	z-index: 9;
	margin: 0 32px 32px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.banner-upsell .banner-shape *{
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.banner-upsell .banner-upsell-wrap {
	max-width: 894px;
	margin: 0 auto;
}

.banner-upsell .banner-upsell-wrap *{
	color: var(--white);
}

.banner-upsell .banner-upsell-wrap .small-title {
	font-weight: 900;
}

.banner-upsell .banner-upsell-wrap .main-title{
	text-transform: unset;
	margin-bottom: 16px;
}
/*========== Upsell Page End ==========*/

/*==================================================================*/
/*========== New Class Add End ==========*/
/*==================================================================*/


/*==================================================================*/
/*========== Footer Start ==========*/
/*==================================================================*/
.footer {
	padding: 56px 0 24px;
	/*margin: 0 32px 32px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;*/
}

.footer-main {
	text-align: center;
	max-width: 1016px;
	width: 100%;
	margin: 0 auto;
}

.footer-links ul {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.footer-links ul li {
	color: var(--white);
	list-style-type: none;
	padding: 0 16px;
	margin: 0 0 16px;
	position: relative;
}

.footer-links ul li a:hover,
.footer-links ul li a.active {
	color: var(--yellow);
}

.footer-links ul li::before {
	content: "";
	background-color: var(--white);
	width: 1px;
	height: 12px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.footer-links ul li:last-child::before {
	display: none;	
}

.footer-details {
	margin: 32px 0 48px;
}

.footer-details p {
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 15px;
	color: #C4E2E2;
}

.footer-details p:last-child {
	margin-bottom: 0;
}

.copyright p {
	font-size: 14px;
	line-height: 20px;
	color: #A8D5D5;
	margin: 0;
}
/*==================================================================*/
/*========== Footer End ==========*/
/*==================================================================*/


/*==================================================================*/
/*========== Custom Styles Start ==========*/
/*==================================================================*/

.make-bold {
	font-weight: bold;
}

.make-italic {
	font-style: italic;
}

.header {
	/*height: 75px;*/ /* Adjust as needed */
	line-height: 75px; /* Vertically center the content */
	position: sticky;
	z-index: 1050; /* Ensure it stays above other elements */
	/*background-color: #7fcccc;*/ /* Maintain the navbar's background color */
	background-color: #a4dbdb; /* Maintain the navbar's background color */
	/*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/ /* Optional shadow for better visibility */
	transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition when it sticks */
	margin: 0;
	padding: 0;
	/*position: fixed;*/
	top: 0;
	left: 0;
	right: 0;
	opacity: 0.85;
}

/* For smaller screens */
/*@media (max-width: 768px) {
	.header {
		height: 60px; !* Adjust height for smaller screens *!
		line-height: 60px;
	}
}*/

/* Remove margin or padding from the next section */


.navbar-toggler {
	border: none;
	/* Adjust color as needed */
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.collapse.show {

	padding: 10px 0;
}


.navbar {
	margin: 0;
	padding: 0;
	box-shadow: none; /* Optional: Remove shadow if it causes visual issues */
}
.navbar-toggler {
	margin: 0;
	padding: 0;
}
@media (max-width: 768px) {
	.header {
		position: fixed;
		top: 0!important;
		margin: 0 !important;
		padding: 0 !important;
		left: 0 !important;
		right: 0;
		bottom: 0;
		z-index: 1000;
		width: 100%;
		/* Ensure it has a background to prevent transparency issues */

		max-height: 100px;
	}

	.header .navbar-brand {
		margin: 0 0 0 32px;
	}
	.ingredients-wrp {
		padding: 48px 20px 24px!important;
		/*margin: 0 32px 40px;*/

		/*border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;*/
	}
	.inner-bnr-wrp {

		margin: 100px 0!important;
		min-height: 190px!important;

	}


	/*body {
		padding: 0; !* Adjust based on your navbar height *!
		margin: 0;
	}*/
	.header .navbar {
		overflow: visible;
		position: relative;
		z-index: 1000;
	}
	.header .navbar-collapse {
		transition: all 0.3s ease-in-out;
		/*position: absolute;*/
		top: 100%; /* Place the expanded menu below the navbar */
		left: 0;
		right: 0;
		/*overflow: hidden;*/
		 /* Match your navbar background */
		/*z-index: 1000;*/
		border-top: 1px solid #ddd; /* Optional: Add a border for separation */
		text-align: center;
	}
	.navbar-collapse.show {
		 /* Ensure it displays vertically when expanded */
		max-height: 470px; /* Adjust the height as per the number of menu items */
	}
	/*.header + .content {
		transition: margin-top 0.3s ease-in-out;
	}

	.navbar-collapse.show ~ .content {
		margin-top: 300px; !* Same as max-height of the navbar-collapse *!
	}*/
}

/* Media query for mobile view */

/* Mobile view styles */
/* Default: Desktop View */
.desktop-view {
	display: block;
}

.mobile-view {
	display: none;
}

/* Mobile View */
/*@media (max-width: 768px) {
	.desktop-view {
		display: none;
	}

	.mobile-view {
		display: block;
	}
}*/







.navbar-logo {
	transition: all 0.3s ease; /* Smooth resizing */
	width: 120px; /* Default size */
}

.navbar-logo.shrink {
	width: 70px; /* Smaller size on scroll */
}
/*==================================================================*/
/*========== Custom Styles End ==========*/
/*==================================================================*/