# Enable Rewrite Engine
RewriteEngine On

# Redirect root domain to pages/index.php
RewriteRule ^$ pages/index.php [L]

# Ensure trailing slash for all URLs except files
RewriteCond %{REQUEST_URI} !\.[^./]+$ [NC]
RewriteCond %{REQUEST_URI} !(.*)/$ [NC]
RewriteRule ^(.*)$ /$1/ [L,R=301]

# Redirect https://www.leptozan.com/vsl/ to /pages/vsl-opened.php
RewriteRule ^newdiscovery/?$ pages/vsl-opened.php [L]

# Redirect https://www.leptozan.com/upsell-oto-01/ to /pages/upsell-1.php
#RewriteRule ^upsell-oto-01/?$ pages/upsell-1.php [L]

# Redirect https://www.leptozan.com/upsell-no-thanks/ to /pages/upsell-nothanks.php
RewriteRule ^upsell-no-thanks/?$ pages/upsell-nothanks.php [L]


# Redirect upsell-oto-01/ based on SKU parameter
RewriteCond %{QUERY_STRING} ^sku=lepto-us-01$ [NC]
RewriteRule ^upsell-oto-01/?$ pages/upsell-1.php [L]

RewriteCond %{QUERY_STRING} ^sku=lepto-us-03$ [NC]
RewriteRule ^upsell-oto-01/?$ pages/upsell-3.php [L]

RewriteCond %{QUERY_STRING} ^sku=lepto-us-06$ [NC]
RewriteRule ^upsell-oto-01/?$ pages/upsell-6.php [L]

# Default redirect if no SKU matches
RewriteRule ^upsell-oto-01/?$ pages/upsell-1.php [L]



# Redirect https://www.leptozan.com/typ/ to /pages/thank-you.php
RewriteRule ^typ/?$ pages/thank-you.php [L]

# Redirect https://www.leptozan.com/terms/ to /pages/terms.php
RewriteRule ^terms/?$ pages/terms.php [L]

# Redirect https://www.leptozan.com/shipping-policy/ to /pages/shipping-policy.php
RewriteRule ^shipping-policy/?$ pages/shipping-policy.php [L]

# Redirect https://www.leptozan.com/refund-policy/ to /pages/refund.php
RewriteRule ^refund-policy/?$ pages/refund.php [L]

# Redirect https://www.leptozan.com/references/ to /pages/references.php
RewriteRule ^references/?$ pages/references.php [L]

# Redirect https://www.leptozan.com/privacy/ to /pages/privacy-policy.php
RewriteRule ^privacy/?$ pages/privacy-policy.php [L]

# Redirect https://www.leptozan.com/disclaimer/ to /pages/disclaimer.php
RewriteRule ^disclaimer/?$ pages/disclaimer.php [L]

# Redirect https://www.leptozan.com/contact/ to /pages/contact.php
RewriteRule ^contact/?$ pages/contact.php [L]

# Redirect https://www.leptozan.com/vsl/ to /pages/vsl.php
RewriteRule ^vsl/?$ pages/vsl.php [L]

# Test for Redirect https://www.leptozan.com/old-index/ to /pages/old-index.php
RewriteRule ^old-index/?$ pages/old-index.php [L]

# Redirect https://www.leptozan.com/glucozan-index/ to /pages/glucozan-index.php
RewriteRule ^glucozan/?$ pages/glucozan-index.php [L]

# Redirect https://www.leptozan.com/glucozan-no-thanks/ to /pages/glucozan-no-thanks.php
RewriteRule ^glucozan-no-thanks/?$ pages/glucozan-no-thanks.php [L]

<IfModule mod_headers.c>
Header set Cache-Control "private"
</IfModule>