.banner-wrp {
    /*background-image: url("../images/banner-Subtract.svg");
    background-repeat: no-repeat;*/
    background-color: #92d3d3;
    background-size: 100% 100%;
    background-position: center;
    /* background-color: var(--sky); */
    margin: 0 32px 0;
    padding: 90px 0 38px;
    position: relative;
    z-index: 9;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.banner-wrp::before {
    content: "";
    background-image: url('../images/dead-sea-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.1; /* Adjust transparency here */
}

/* .banner-wrp::after {
	content: "";
	background-color: var(--white);
	width: 138px;
	height: 138px;
	position: absolute;
	left: 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
} */

.banner-content .main-title {
    margin: 0 0 24px;
}

.banner-content .large-detail {
    margin: 0 0 40px;
}

.banner-img {
    margin: 0 0 0 -50px;
}

.scroll-down {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -19px;
    max-width: 16px;
    width: 100%;
}

.scroll-down figure {
    display: flex;
}