.header {
    position: absolute;
    left: 32px;
    right: 32px;
    top: 52px;
    z-index: 999;
}

.header .navbar {
    padding: 0;
}

.header .navbar-brand {
    max-width: 93px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header .navbar-nav {
    /*padding: 14px 2px;
    background-color: var(--white);*/
    /*border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;*/
}

.header .navbar-nav .nav-item {
    padding: 0 28px;
}

/* .header .navbar-nav .nav-item:first-child {
	padding-left: 0;
}

.header .navbar-nav .nav-item:last-child {
	padding-right: 0;
} */

.header .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black);
    /*padding: 0;*/
    position: relative;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s; /* Smooth hover effect */
    padding: 10px 15px; /* Set consistent padding for both states */
}

.header .navbar-nav .nav-item .nav-link::after {
    content: "";
    background-color: var(--teal);
    width: 0;
    position: absolute;
}

/*.header .navbar-nav .nav-item .nav-link:hover,
.header .navbar-nav .nav-item .nav-link.active {
	color: var(--teal);
}*/

/* custom added by ouss for testing*/
.header .navbar-nav .nav-item .nav-link:hover {
    background-color: var(--white); /* Use the existing yellow variable */
    color: #7fcccc; /* Ensure text color contrasts well */
    padding: 10px 15px; /* Add some padding to create a rectangular effect */
    border-radius: 5px;

}


.header .navbar-nav .nav-item .nav-link:hover::after,
.header .navbar-nav .nav-item .nav-link.active::after {
    width: 100%;
}

.header-btn .btn {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 30px;
}