.healthy-wrp {
    padding: 50px 0 57px;
    /*margin: 0 28px 0;*/
}

.healthy-title {
    max-width: 624px;
    width: 100%;
    margin: 0 auto 56px;
    text-align: center;
}

.healthy-title .section-title {
    margin: 0 0 16px;
}

.healthy-title .detail {
    margin: 0 30px;
}

.healthy-section .row {
    margin: 0;
}

.healthy-section .row>* {
    padding: 0 16px;
}

.healthy-block {
    padding: 0 24px 43px;
    text-align: center;
    background-color: var(--sky);
    border-bottom: 5px solid var(--orange);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px 0 36px;
    position: relative;
    cursor: pointer;
    height: calc(100% - 96px);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* .healthy-block::after {
	content: "";
	content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
	background-color: var(--orange);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	bottom: -5px;
	z-index: -1;
	border-radius: 0 0 12px 12px;
	-webkit-border-radius: 0 0 12px 12px;
	-moz-border-radius: 0 0 12px 12px;
	-ms-border-radius: 0 0 12px 12px;
	-o-border-radius: 0 0 12px 12px;
} */

.healthy-block:hover {
    background-color: var(--orange);
    background-image: url("../images/hover-lines.png");
    color: var(--white);
    -moz-box-shadow: 0px 87px 24px 0px rgba(0, 0, 0, 0.00), 0px 56px 22px 0px rgba(0, 0, 0, 0.02), 0px 31px 19px 0px rgba(0, 0, 0, 0.05), 0px 14px 14px 0px rgba(0, 0, 0, 0.09), 0px 3px 8px 0px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 87px 24px 0px rgba(0, 0, 0, 0.00), 0px 56px 22px 0px rgba(0, 0, 0, 0.02), 0px 31px 19px 0px rgba(0, 0, 0, 0.05), 0px 14px 14px 0px rgba(0, 0, 0, 0.09), 0px 3px 8px 0px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 87px 24px 0px rgba(0, 0, 0, 0.00), 0px 56px 22px 0px rgba(0, 0, 0, 0.02), 0px 31px 19px 0px rgba(0, 0, 0, 0.05), 0px 14px 14px 0px rgba(0, 0, 0, 0.09), 0px 3px 8px 0px rgba(0, 0, 0, 0.11);
}

/* .healthy-block:hover::after {
	background-image: url("../images/hover-lines.png");
	z-index: 0;
} */

.healthy-icon {
    width: 120px;
    height: 120px;
    margin: 0 auto -25px;
    position: relative;
    top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange50);
    border: 5px solid var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.healthy-content .block-title {
    margin: 0 0 12px;
}

.healthy-content .detail {
    max-width: 291px;
    width: 100%;
    margin: 0 auto;
}