.ingredients-wrp {
    padding: 88px 20px 58px;
    margin: 0 32px 40px;
    background-color: var(--grey3);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.ingredients-logos-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -12px 24px;
}

.ingredients-logos {
    padding: 0 12px;
}

.ingredients-logos img {
    width: 65px;
}

.ingredients-title {
    max-width: 728px;
    width: 100%;
    margin: 0 auto 56px;
    text-align: center;
}

.ingredients-title .section-title {
    margin: 0 0 16px;
    text-transform: unset;
}

.ingredients-block {
    overflow: hidden;
    background-color: var(--white);
    border: 5px solid var(--grey4);
    text-align: left;
    /*margin-bottom: 30px!important;*/
    height: calc(100% - 30px);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

/*.ingredients-content {
    padding: 32px 11px 35px;
}*/

.ingredients-content .small-title {
    margin: 0 0 12px;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

.ingredients-content .common-detail p {
    font-size: 18px!important;
    line-height: 28px!important;
    font-family: Inter, serif;
}

.ingredients-img img {
    height: 218px;
    width: 233px;
    object-fit: cover;
}

.ingredients-section .row {
    margin: 0 -16px;
}

.ingredients-section .row>* {
    padding: 0 16px;
}
.ingredients-section .row .col-md-5 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/*
.ingredients-section .row>* {
    padding: 0 0 !important;
}*/
.ingredients-section .row.d-flex {
    display: flex;
    flex-wrap: wrap!important;
}
.ingredients-section .row.d-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}