.ingredients-wrp {
    padding: 88px 20px 58px;
    margin: 0 32px 40px;
    background-color: var(--grey3);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.ingredients-logos-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -12px 24px;
}

.ingredients-logos {
    padding: 0 12px;
}

.ingredients-logos img {
    width: 65px;
}

.ingredients-title {
    max-width: 728px;
    width: 100%;
    margin: 0 auto 56px;
    text-align: center;
}

.ingredients-title .section-title {
    margin: 0 0 16px;
    text-transform: unset;
}

.ingredients-block {
    overflow: hidden;
    background-color: var(--white);
    border: 5px solid var(--grey4);
    text-align: center;
    margin: 0 0 30px;
    height: calc(100% - 30px);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.ingredients-content {
    padding: 32px 11px 35px;
}

.ingredients-content .small-title {
    margin: 0 0 12px;
}

.ingredients-img img {
    height: 251px;
    width: 100%;
    object-fit: cover;
}

.ingredients-section .row {
    margin: 0 -16px;
}

.ingredients-section .row>* {
    padding: 0 16px;
}