/* Section Styling */

.healthy-wrp {
    padding: 50px 0 57px;
}

.healthy-title {
    max-width: 624px;
    width: 100%;
    margin: 0 auto 56px;
    text-align: center;
}

.healthy-title .section-title {
    margin: 0 0 16px;
}

.healthy-title .detail {
    margin: 0 30px;
}

.healthy-section {
    padding: 60px 0;
    background-color: #ffffff;
}

/* Title Styling */
.section-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    color: #000;
    margin-bottom: 10px;
}

/* Highlighted Text */
.section-title .highlight {
    color: #E76A25; /* Orange color from the image */
}

/* Subtitle Styling */
.section-subtitle {
    font-size: 16px;
    color: #5a5a5a;
    margin-bottom: 40px;
}

/* Feature Box Styling */
.feature-box {
    padding: 32px 32px;
    text-align: center;
    height: 100%;
}

/* Light Background Boxes */
.light-bg {
    background-color: #FEF2EA;
}

/* Orange Background Boxes */
.orange-bg {
    background-color: #F47929;
    color: #fff;
}

/* Feature Title */
.feature-box h4 {
    font-size: 28px;
    font-family: "DM Sans", serif;
    font-weight: 700;
    /*margin-bottom: 10px;*/
}

/* Feature Text */
.feature-box p {
    font-size: 18px;
    font-family: "Inter", serif;
    color: #171717;
}

/* Make the orange boxes text white */
.orange-bg p {
    color: #FFFFFF;
}

.healthy-section .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.healthy-section .row>* {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.healthy-section .row .col-md-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}