.vsl-banner-wrp.upsell-page{
    padding: 50px 0 300px;
    margin-bottom: 10px;
}

.vsl-banner-wrp.upsell-page .vsl-banner-main .vsl-video{
    margin: 0px auto -244px auto;
    max-width: 1080px;
}

.vsl-banner-wrp.upsell-page .vsl-banner-main {
    text-align: start;
}

.vsl-banner-wrp.upsell-page .vsl-banner-main .banner-order-steps{
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin-bottom: 50px;
    background: var(--white);
    padding: 8px 40px 8px 8px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.banner-order-steps .icon{
    width: 64px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.banner-order-steps .order-step{
    display: flex;
    align-items: center;
}

.banner-order-steps .order-step.active{
    border-radius: 50px;
    border: 10px solid var(--White, #FFF);
    background: var(--Third, #41A3A3);
    padding: 8px 40px 8px 8px;
    margin: -17px 0;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
}

.banner-order-steps .order-step.active .small-title{
    font-size: 32px;
    line-height: 40px;
}

.banner-order-steps .order-step.active .order-details .details{
    font-size: 18px;
    line-height: 28px;
    color: var(--white);
}

.banner-order-steps .order-step  .order-details *{
    margin-bottom: 0;
}

.banner-order-steps .icon .section-title{
    color: var(--white);
}

.special-deal-section{
    padding: 30px 0 30px;
    margin: 30px 32px 32px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.special-deal-section .special-deal-wrap .special-deal-detail{
    margin-bottom: 40px;
}

.special-deal-section .special-deal-wrap .special-deal-right .saving-banner {
    margin-left: -45px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0px 4px 11.2px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

}

.saving-banner .left-details {
    max-width: 310px;
    width: 100%;
    margin: 0 auto;
}

.saving-banner .left-details .price-blink {
    color: var(--orange)
}

.saving-banner .left-details,
.saving-banner .right-details {
    flex: 0 0 auto;
}

.saving-banner .right-details{
    position: relative;
    padding: 15px;
    border-radius: 0 12px 12px 0;
    -webkit-border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    -ms-border-radius: 0 12px 12px 0;
    -o-border-radius: 0 12px 12px 0;
}

.special-deal-right .details{
    color: var(--orange);
    font-weight: 700;
}

.special-deal-right .details p {
    margin: 0;
}

.special-deal-detail .large-detail *{
    /*margin-bottom: 4px;*/
}

.special-deal-main .special-deal-left{
    position: relative;
    z-index: 1;
    border-bottom: 7px solid var(--orange);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background-color: var(--teal);
}

.special-deal-main .special-deal-left .special-deal-img{
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
}

/*.special-deal-main .special-deal-left .special-deal-img figure .img{
    width: 20% !important;
}*/

.special-deal-main .special-deal-left .special-deal-top-left {
    padding: 30px 20px 24px;
}

.special-deal-main .special-deal-left .special-deal-top-left .block-title {
    color: var(--white);
    font-weight: 500;
}

.special-deal-main .special-deal-left .special-deal-top-left .block-title span {
    font-weight: 700;
}

.saving-details {
    /*padding: 16px 24px 18px 40px;*/
    padding: 16px -1px 18px 40px;
}

.right-details .saving-details {
    padding: 0 24px 0 40px;
    /*padding: 0 32px 0 32px;*/
}

.right-details .small-title {
    padding: 0 24px 0 47px;
    /*padding: 0 32px 0 32px;*/
}

/*.saving-details span{
    font-family: "DM Sans";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%
}*/

.saving-details span{
    font-family: "DM Sans";
    /*font-size: 56px;*/
    font-size: 54px;
    /*width: 2ch;*/
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.right-details .saving-details span {
    display: inline-block;
    width: 68px; /* Space for two digits and a buffer */
}

.saving-details span:first-child{
    margin-right: 6px;
    display: inline-block;
}

.saving-details sup{
    top: -23px;
}

.saving-details .per-bottle {
    top: -18px;
}
@media (max-width: 575px) {

    /* Mobile Banner left details */
    .left-details .saving-details sup {
        top: -18px!important;
    }
    .left-details .saving-details sup.per-bottle {
        top: -12px!important;
    }

    .left-details .you-save {
        margin: 5px 0!important;
    }

    .right-details .saving-details sup {
        top: -18px!important;
    }

    .right-details {
        width: 102px!important;
    }
    /* Mobile Banner right details */
    /*.special-deal-section .special-deal-wrap .special-deal-right .saving-banner .right-details {
        padding: 0!important;
    }*/
    .saving-banner {
        max-width: 100%!important;
        overflow-x: hidden; /* Prevents any extra width */
    }

    /*.saving-banner .left-details .saving-details{
        padding: 0!important;
        margin: 0!important;
    }*/
    /*.saving-banner .right-details {
        max-width: 50px;
    }*/
    /*.saving-banner .right-details .saving-details{
        padding: 0!important;
        margin: 0!important;
    }*/
    .saving-banner .right-details {
        padding: 16px 0 16px 0 !important;
    }
    .right-details .small-title {
        padding: 0;
        margin: 0 auto!important;
    }
}

@media (max-width: 424px) {

    /* Mobile Banner left details */
    .left-details .saving-details sup {
        top: -6px!important;
    }
    .left-details .saving-details sup.per-bottle {
        top: 0!important;
    }

    .left-details .you-save {
        margin: 5px 0!important;
    }

    .right-details .saving-details sup {
        top: -13px!important;
    }

    .right-details {
        width: 102px!important;
    }
    /* Mobile Banner right details */
    /*.special-deal-section .special-deal-wrap .special-deal-right .saving-banner .right-details {
        padding: 0!important;
    }*/
    .saving-banner {
        max-width: 100%!important;
        overflow-x: hidden; /* Prevents any extra width */
    }

    /*.saving-banner .left-details .saving-details{
        padding: 0!important;
        margin: 0!important;
    }*/
    /*.saving-banner .right-details {
        max-width: 50px;
    }*/
    /*.saving-banner .right-details .saving-details{
        padding: 0!important;
        margin: 0!important;
    }*/
    .saving-banner .right-details {
        padding: 16px 0 16px 0 !important;
    }
    .right-details .small-title {
        padding: 0;
        margin: 0 auto!important;
    }
}


.saving-details .you-save {
    padding: 2px 0;
}

.saving-details sup{
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px; /* 100% */
    display: inline-block;
    max-width: 34px;
    text-align: left;
}

.right-details  .right-details-img{
    position: absolute;
    left: -76px;
    top: -30px;
    height: 180px;
}

.right-details  .right-details-img *{
    height: 100%;
    width: 100%;
}

.saving-details sup b{
    color: #0A0A0B;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}

.special-deal-right .deal-list{
    padding: 40px 50px 32px 0;
}

.special-deal-right .deal-list ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.special-deal-right .deal-list ul li{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
    display: flex;
    /* align-items: center; */
}

.special-deal-right .deal-list ul li::before{
    content: "";
    display: inline-block;
    background: url('/images/yes.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    flex: 0  0 auto;
}

.special-deal-right {
    margin: 39px 0 0;
}

.special-deal-right .btn-orange {
    font-family: "DM Sans", serif;
    font-size: 28px;
    font-weight: 800;
    border-radius: 60px;
    padding: 18px 32px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}

.special-deal-right .btn-orange br {
    display: none;
}

.special-deal-right .btn-orange span {
    font-family: "Inter", serif;
    font-weight: 500;
    display: block;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 0 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.special-deal-wrap .details-bottom{
    max-width: 706px;
    margin: 48px auto 0;
    opacity: 0.8;
}

.special-deal-wrap .details-bottom a:first-child {
    text-decoration: underline;
}

.special-deal-right .icon-list ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-deal-right .icon-list ul li{
    margin-right: 24px;
}

.special-deal-right .icon-list ul li a{
    display: inline-block;
}

.special-deal-right .icon-list {
    margin-top: 28px;
}

.special-deal-right .icon-list ul li:last-child{
    margin-right: 0;
}

.official-page{
    margin: 40px 32px 20px;
    border-radius: 12px;
    padding: 40px 0 40px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.official-page-wrap .block-title span{
    color: var(--orange);
}

.official-page-wrap .official-page-top{
    max-width: 638px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.official-page-wrap .official-page-logo ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}

.official-page-wrap .official-page-logo ul li{
    margin-right: 56px;
}

.official-page-wrap .official-page-logo ul li a{
    display: inline-block;
}

.official-page-wrap .official-page-logo ul li:last-child{
    margin-right: 0;
}

.official-page .block-title{
    margin-bottom: 16px;
}

.banner-upsell{
    padding: 30px 0 30px;
}

.banner-upsell .banner-shape{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.banner-upsell{
    position: relative;
    z-index: 9;
    margin: 0 32px 32px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.banner-upsell .banner-shape *{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.banner-upsell .banner-upsell-wrap {
    max-width: 894px;
    margin: 0 auto;
}

.banner-upsell .banner-upsell-wrap *{
    color: var(--white);
}

.banner-upsell .banner-upsell-wrap .small-title {
    font-weight: 900;
}

.banner-upsell .banner-upsell-wrap .main-title{
    text-transform: unset;
    margin-bottom: 16px;
}

/*
.btn-contain a {
    width: 100%;
}*/
.btn-contain .btn-orange .price {
    all: unset;  /* Resets all inherited styles */
}

/* blink effect */
/*@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.blink-animation {
    animation: blink 1.5s steps(1, end) 6;
}*/

@keyframes fadeBlink {
    0%, 100% { opacity: 1; }  /* Fully visible */
    50% { opacity: 0; }       /* Fully hidden */
}

.fade-blink-animation {
    animation: fadeBlink 1.5s ease-in-out 6; /* 1.5s per fade, 5 full blinks */
}

/*@media (max-width: 768px) {


    .special-deal-section .special-deal-wrap .special-deal-right .saving-banner .right-details {
        padding: 12px 0px 12px 15px;
    }
}*/
div{
    word-wrap: unset!important;
}


.progress-steps {
    max-width: 800px;
    margin: auto;
}

.step .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000;
}

.step .label {
    font-size: 0.85rem;
    margin-top: 8px;
    white-space: nowrap;
}

.circle.completed {
    background-color: #f58634;
    border-color: #f58634;
    color: #fff;
}

.circle.active {
    background-color: #f58634;
    border-color: #f58634;
    color: #fff;
}

.bar {
    height: 4px;
    background-color: #f58634;
    border-radius: 2px;
    min-width: 40px;
}

@media (max-width: 575px) {
    .progress-steps {
        flex-direction: column;
        gap: 1rem;
    }

    .bar {
        display: none;
    }
}
