@font-face {
    font-family: 'HvDTrial Brandon Grotesque';
    src: url('HvDTrial_BrandonGrotesque-Black.woff2') format('woff2'),
        url('HvDTrial_BrandonGrotesque-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

