.faq-wrp {
    padding: 0 0 64px;
}

.faq-main {
    max-width: 904px;
    width: 100%;
    margin: 0 auto;
}

.faq-main .section-title {
    text-align: center;
    margin: 0 0 56px;
}

.faq-section .accordion-item {
    padding: 17px 21px 17px 18px;
    margin: 0 0 24px;
    background-color: var(--white);
    border: 1px solid var(--grey5);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.faq-section .accordion-item.active {
    background-color: var(--grey3);
}

.faq-section .accordion-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--teal);
    padding: 0 20px 0 0;
}

.faq-section .accordion-body {
    padding: 16px 0 0;
}

.faq-section .accordion-button::after {
    width: 17px;
    height: 2px;
    background-color: var(--orange);
    background-image: none;
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.faq-section .accordion-button::before {
    content: "";
    width: 2px;
    height: 17px;
    background-color: var(--orange);
    background-image: none;
    position: absolute;
    right: 7px;
    top: 50%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.faq-section .accordion-button:not(.collapsed)::after {
    background-color: var(--teal);
}

.faq-section .accordion-button:not(.collapsed)::before {
    transform: translate(0, -50%) rotate(90deg);
    -webkit-transform: translate(0, -50%) rotate(90deg);
    -moz-transform: translate(0, -50%) rotate(90deg);
    -ms-transform: translate(0, -50%) rotate(90deg);
    -o-transform: translate(0, -50%) rotate(90deg);
}