/* Balanced Blood Sugar Benefits Section */
.balanced-blood-sugar-benefits-section {
    padding: 50px 0;
    /*background-color: #F6F6F6;*/
}

.balanced-blood-sugar-benefits-section .title {
    font-family: 'Crimson Pro', serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center; /* Centers the title */
    margin: 0 auto 40px;
    max-width: 460px;
}

.highlight {
    color: #871127!important; /* Dark red */
    font-style: italic;
}

.balanced-blood-sugar-benefits-section .container {
    max-width: 1284px; /* Adjust as needed */
    width: 95%; /* Increase width without being fully fluid */
}

.balanced-blood-sugar-benefits-section .text-content {
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
    .balanced-blood-sugar-benefits-section .title {
        text-align: center;
        font-size: 44px!important;
        max-width: 375px;
    }
    .balanced-blood-sugar-benefits-section .content {
        margin-top: 10px;
    }
}
