/* Blood Sugar Section */
.blood-sugar-section {
    padding: 80px 0;
    background-color: #F6F6F6;
}

.blood-sugar-section .title, .new-path-section  .title {
    font-family: 'Crimson Pro', serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center; /* Centers the title */
    margin-bottom: 40px;
}

.blood-sugar-section .highlight {
    color: #871127!important; /* Dark red */
    font-style: italic;
}

.blood-sugar-section .container {
    max-width: 1284px; /* Adjust as needed */
    width: 95%; /* Increase width without being fully fluid */
}

.blood-sugar-section .text-content {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

/* Discovering a New Path Section */
.new-path-section {
    padding: 80px 0;
    background-color: #F6F6F6;
}

.new-path-section .container {
    max-width: 1284px; /* Adjust as needed */
    width: 95%; /* Increase width without being fully fluid */
}

/* Background Box for Content + Image */
.new-path-section .content-box {
    background: linear-gradient(to bottom, #7A72C0, #CE3B5F); /* Gradient from top to bottom */
    padding: 40px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
}

/* Text Content */
.new-path-section .text-content {
    font-size: 18px;
    line-height: 1.6;
}

/* Responsive Adjustments */
/*@media (max-width: 768px) {
    .section-title {
        text-align: center;
        font-size: 28px;
    }
    .text-content {
        text-align: center;
    }
}*/
/* Responsive Adjustments */
@media (max-width: 768px) {
    .blood-sugar-section, .new-path-section  {
        padding: 80px 0 10px;
    }

    .blood-sugar-section .title, .new-path-section .title{
        font-size: 44px!important;
    }
    .blood-sugar-section .text-content, .new-path-section .text-content {
        margin-bottom: 20px;
    }
}