
.header-text {
    margin-top: 10px;
    font-family: 'Crimson Pro', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Adjust for contrast */
    font-size: 50px;
    font-weight: 700; /* Bold text */
    z-index: 10;
    /*width: 90%;*/
    max-width: 900px;
    line-height: 1.4; /* Improve readability */


}

/*.header-text p {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
}*/

.vsl-banner-wrp {
    /*background-image: url("/images/banner-Subtract.svg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 9;
    margin: 0 0 16px;
    padding: 32px 0 76px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.vsl-banner-wrp::before {
    content: "";
    background-image: url(/images/glucozan/header-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    /* Darken Effect */
    background-color: rgba(0, 0, 0, 0.9); /* Adjust the opacity (0.5 for 50% darkness) */
    mix-blend-mode: multiply; /* Makes it blend smoothly with the image */
}

.vsl-banner-wrp.upsell-page{
    padding: 40px 0 643px;
    margin-bottom: 10px;
}

.vsl-banner-wrp.upsell-page .vsl-banner-main .vsl-video{
    /*margin: 0px auto -244px auto;*/
    max-width: 100%;
}

.vsl-banner-wrp.upsell-page .vsl-banner-main {
    text-align: start;
}

.vsl-banner-wrp.upsell-page .vsl-banner-main .banner-order-steps{
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin-bottom: 50px;
    background: var(--white);
    padding: 8px 40px 8px 8px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.banner-order-steps .icon{
    width: 64px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.banner-order-steps .order-step{
    display: flex;
    align-items: center;
}

.banner-order-steps .order-step.active{
    border-radius: 50px;
    border: 10px solid var(--White, #FFF);
    background: #AB2D4C;
    padding: 8px 40px 8px 8px;
    margin: -17px 0;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
}

.banner-order-steps .order-step.active .small-title{
    font-size: 32px;
    line-height: 40px;
}

.banner-order-steps .order-step.active .order-details .details{
    font-size: 18px;
    line-height: 28px;
    color: var(--white);
}

.banner-order-steps .order-step  .order-details *{
    margin-bottom: 0;
}

.banner-order-steps .icon .section-title{
    all: unset;
    color: var(--white);
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100%; /* Ensure it fills the parent container */
    text-align: center;
    font-size: 44px;
    line-height: 52px;
    font-weight: 700;

}

