.references-wrp {
    padding: 68px 0 88px;
}

.references-main > .title {
    text-align: center;
    margin: 0 0 50px;
}

/*.references-right .title {
    text-align: left;
    margin: 0 0 45px;
    font-size: 32px;
    font-weight: 700;
}*/

.references-wrp .references-right .title h2 {
    font-size: 32px;
    font-weight: 700;
}


.references-details {
    font-size: 18px;
    line-height: 1.6;
    margin: 15px 0 16px;
}

.references-details:last-child {
    margin-bottom: 0;
}

/*.references-details p {
    margin: 0 0 4px;
}*/

.references-details p:last-child {
    margin-bottom: 0;
}

.references-details p span {
    color: #979797;
}



.references-img {
    text-align: center;
    margin: 4px 0 0;
}
/* Responsive Adjustments */
@media (max-width: 768px) {
    .references-wrp .title {
        text-align: left!important;
    }
    .references-wrp .references-details {
        text-align: left!important;
    }
    .references-wrp .row {
        flex-direction: column-reverse; /* Flips the order */
    }
}