/* Global Section Styles */
.unlock-your-body-section .section-title {
    font-family: 'Crimson Pro', serif;
    font-size: 32px;
    font-weight: 700;
    /*text-align: center;*/ /* Centers the title */
    margin: 0 auto 40px;
    max-width: 460px;
}

.unlock-your-body-section .highlight {
    color: #871127!important; /* Dark red */
    font-style: italic;
}

/* Unlock Your Body Section Section */
.unlock-your-body-section {
    padding: 80px 0;
    /*background-color: #F6F6F6;*/
}

.unlock-your-body-section .container {
    max-width: 1284px; /* Adjust as needed */
    width: 95%; /* Increase width without being fully fluid */
}

.unlock-your-body-section .text-content {
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

.unlock-your-body-section .text-content p {
    margin-bottom: 27px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .unlock-your-body-section .section-title {
        text-align: center;
        font-size: 28px;
    }
    .unlock-your-body-section .text-content {
        text-align: center;
    }
}
