.main-title {
    font-family: "DM Sans", serif;
    font-size: 68px;
    line-height: 72px;
    font-weight: 700;
    text-transform: capitalize;
}

.main-title span {
    color: var(--orange);
}

.main-title * {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
}

.banner-title {
    font-family: "DM Sans", serif;
    font-size: 56px;
    line-height: 62px;
    font-weight: 700;
    text-transform: capitalize;
}

.banner-title span {
    color: var(--orange);
}

.banner-title * {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
}

.section-title {
    font-family: "DM Sans", serif;
    font-size: 44px;
    line-height: 52px;
    font-weight: 700;
    text-transform: capitalize;
}

.section-title span {
    color: var(--orange);
}

.section-title * {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
}

.block-title {
    font-family: "DM Sans", serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}

.block-title * {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
}

.small-title {
    font-family: "DM Sans", serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.small-title * {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
}

.large-detail {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

.large-detail * {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
}

.common-detail {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.common-detail * {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
}


.detail * {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
}

.small-detail {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.small-detail * {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
}

.btn {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 34px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.btn-orange {
    color: var(--white);
    border: 2px solid var(--orange);
    background-color: var(--orange);
    -moz-box-shadow: 0px -5px 0px 0px #DE6E25 inset;
    -webkit-box-shadow: 0px -5px 0px 0px #DE6E25 inset;
    box-shadow: 0px -5px 0px 0px #DE6E25 inset;
}

.btn-orange:hover {
    border-color: #d95906 !important;
    color: var(--white) !important;
    background-color: #d95906 !important;
    -moz-box-shadow: 0px -5px 0px 0px #d95906 inset;
    -webkit-box-shadow: 0px -5px 0px 0px #d95906 inset;
    box-shadow: 0px -5px 0px 0px #d95906 inset;
}

.btn-yellow {
    background: -moz-linear-gradient(180deg, #FFDE21 39.18%, #D78F00 124.37%);
    background: -webkit-linear-gradient(180deg, #FFDE21 39.18%, #D78F00 124.37%);
    background: linear-gradient(180deg, #FFDE21 39.18%, #D78F00 124.37%);
    -moz-box-shadow: 0px -5px 0px 0px #FFDE21 inset;
    -webkit-box-shadow: 0px -5px 0px 0px #FFDE21 inset;
    box-shadow: 0px -5px 0px 0px #FFDE21 inset;
    border: 2px solid var(--black);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.btn-yellow:hover {
    background: #d95906;
    border-color: #d95906;
    color: var(--white);
    -moz-box-shadow: 0px -5px 0px 0px #d95906 inset;
    -webkit-box-shadow: 0px -5px 0px 0px #d95906 inset;
    box-shadow: 0px -5px 0px 0px #d95906 inset;
}