.contact-wrp {
    margin: 156px 32px 88px 0;
    position: relative;
}

.contact-main {
    position: relative;
    z-index: 9;
}

.contact-img-main {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.contact-img {
    text-align: right;
}

.contact-img img {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.contact-left .section-title {
    margin: 0 0 16px;
}

.how-to-reach .small-title,
.product-return-block .small-title {
    margin: 0 0 16px;
}

.how-to-reach-block ul {
    padding: 0;
    margin: 0;
}

.how-to-reach-block ul li {
    list-style-type: none;
    padding: 0 0 12px;
}

.how-to-reach-block ul li:first-child a {
    border-bottom: 1px solid var(--black);
}

.how-to-reach-block ul li a:hover {
    color: var(--orange);
    border-bottom-color: var(--orange);
}


.how-to-reach-block p {
    margin: 0;
    padding: 0 0 12px;
}

.how-to-reach-block p:last-child {
    padding-bottom: 0;
}

.how-to-reach {
    padding: 32px 0;
}

.how-to-reach-block {
    background-color: var(--grey4);
    padding: 16px 24px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.product-return-block .detail ul {
    padding: 12px 0 12px 30px;
}

.product-return-block .small-detail {
    padding: 0 0 12px;
}

.product-return-block .detail a {
    border-bottom: 1px solid var(--black);
}

.product-return-block .detail a:hover {
    color: var(--orange);
    border-bottom-color: var(--orange);
}

.contact-top {
    margin: 0 10px 0 0;
}

.contact-left {
    padding: 44px 0;
}