.vsl-banner-main {
    text-align: center;
}

.vsl-banner-main .banner-title {
    max-width: 801px;
    width: 100%;
    margin: 0 auto 24px;
}

.vsl-banner-main .detail {
    font-weight: 700;
    margin: 0 0 32px;
}

.vsl-banner-wrp {
    background-image: url("/images/banner-subtract-upsell.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    z-index: 9;
    margin: 0 32px 16px;
    padding: 32px 0 76px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.vsl-banner-wrp::before {
    content: "";
    background-image: url(/images/Lines.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.vsl-video {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    border: 10px solid var(--grey4);
    overflow: hidden;
    position: relative;
    display: flex;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.vsl-video video {
    width: 100%;
    object-fit: cover;
}

.play-icon,
.pause-icon {
    width: 96px;
    height: 96px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    display: none;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}

.vsl-video:hover .play-icon {
    display: block;
}

#smartplay-poster {
    border: 4px solid rgba(255, 255, 255) !important;
    display: block!important;
}



.new-banner-title
{
    font-family: "Open Sans", serif !important;
    margin: 0 0 20px 0;
}

.new-banner-title span
{
    background-color: var(--orange)!important;
    color: var(--white);
    padding: 0 5px;
    white-space: nowrap; /* Prevent the span from wrapping to a new line */
}

.new-banner-title h1
{
    font-weight: bold!important;
    font-size: clamp(14px, 3vw, 53px); /* Responsive size */
    line-height: 1.2;
    text-align: center;
    max-width: 100%;
    word-break: keep-all;
}

.new-banner-title h5:last-child
{
    color: var(--orange)!important;
    font-weight: bold!important;
}