:root {
    --primary: rgba(250, 166, 52, 1);
    --white: rgba(255, 255, 255, 1);
    --third: rgba(65, 163, 163, 1);
    --secondary: rgba(244, 121, 41, 1);
    --black-text: rgba(10, 10, 11, 1);
    --fourth: rgba(117, 210, 212, 1);
    --foundation-yellowyellow-50: rgba(255, 246, 235, 1);
    --foundationyellowyellow-100: rgba(253, 227, 192, 1);
    --foundation-yellowyellow-200: rgba(253, 214, 162, 1);
    --foundation-yellowyellow-300: rgba(252, 195, 119, 1);
    --foundation-yellowyellow-400: rgba(251, 184, 93, 1);
    --foundation-yellowyellow-500: rgba(250, 166, 52, 1);
    --foundationyellowyellow-600: rgba(228, 151, 47, 1);
    --foundation-yellowyellow-700: rgba(178, 118, 37, 1);
    --foundation-yellowyellow-800: rgba(138, 91, 29, 1);
    --foundation-yellowyellow-900: rgba(105, 70, 22, 1);
    --foundation-orangeorange-50: rgba(254, 242, 234, 1);
    --foundationorangeorange-100: rgba(252, 213, 189, 1);
    --foundation-orangeorange-200: rgba(250, 193, 157, 1);
    --foundation-orangeorange-300: rgba(248, 165, 112, 1);
    --foundation-orangeorange-400: rgba(246, 148, 84, 1);
    --foundation-orangeorange-500: rgba(244, 121, 41, 1);
    --foundation-orangeorange-600: rgba(222, 110, 37, 1);
    --foundation-orangeorange-700: rgba(173, 86, 29, 1);
    --foundation-orangeorange-800: rgba(134, 67, 23, 1);
    --foundation-orangeorange-900: rgba(102, 51, 17, 1);
    --foundation-blueblue-50: rgba(236, 246, 246, 1);
    --foundation-blueblue-100: rgba(196, 226, 226, 1);
    --foundation-blueblue-200: rgba(168, 213, 213, 1);
    --foundation-blueblue-300: rgba(128, 193, 193, 1);
    --foundation-blueblue-400: rgba(103, 181, 181, 1);
    --foundation-blueblue-500: rgba(65, 163, 163, 1);
    --foundation-blueblue-600: rgba(59, 148, 148, 1);
    --foundation-blueblue-700: rgba(46, 116, 116, 1);
    --foundation-blueblue-800: rgba(36, 90, 90, 1);
    --foundation-blueblue-900: rgba(27, 68, 68, 1);
    --foundation-greygrey-1: rgba(255, 255, 255, 1);
    --foundation-greygrey-2: rgba(253, 253, 253, 1);
    --foundation-greygrey-3: rgba(246, 246, 246, 1);
    --foundationgreygrey-4: rgba(241, 241, 241, 1);
    --foundationgreygrey-5: rgba(220, 220, 220, 1);
    --foundation-greygrey-6: rgba(197, 197, 197, 1);
    --foundation-greygrey-7: rgba(151, 151, 151, 1);
    --foundation-greygrey-8: rgba(104, 104, 104, 1);
    --foundation-greygrey-9: rgba(86, 86, 86, 1);
    --foundation-greygrey-10: rgba(58, 58, 58, 1);
    --foundation-greygrey-11: rgba(51, 51, 51, 1);
    --foundation-greygrey-12: rgba(42, 42, 42, 1);
    --foundation-greygrey-13: rgba(23, 23, 23, 1);
    --foundation-greengreen-50: rgba(241, 251, 251, 1);
    --foundation-greengreen-100: rgba(212, 241, 242, 1);
    --foundation-greengreen-200: rgba(192, 234, 235, 1);
    --foundation-greengreen-300: rgba(163, 225, 226, 1);
    --foundation-greengreen-400: rgba(145, 219, 221, 1);
    --foundation-greengreen-500: rgba(117, 210, 212, 1);
    --foundation-greengreen-600: rgba(106, 191, 193, 1);
    --foundation-greengreen-700: rgba(83, 149, 151, 1);
    --foundation-greengreen-800: rgba(64, 116, 117, 1);
    --foundation-greengreen-900: rgba(49, 88, 89, 1);
    --desktop-display-large-font-family: "DM Sans", Helvetica;
    --desktop-display-large-font-weight: 700;
    --desktop-display-large-font-size: 68px;
    --desktop-display-large-letter-spacing: 0px;
    --desktop-display-large-line-height: 72px;
    --desktop-display-large-font-style: normal;
    --desktop-display-small-font-family: "DM Sans", Helvetica;
    --desktop-display-small-font-weight: 700;
    --desktop-display-small-font-size: 56px;
    --desktop-display-small-letter-spacing: 0px;
    --desktop-display-small-line-height: 62px;
    --desktop-display-small-font-style: normal;
    --desktop-h1-bold-font-family: "DM Sans", Helvetica;
    --desktop-h1-bold-font-weight: 700;
    --desktop-h1-bold-font-size: 44px;
    --desktop-h1-bold-letter-spacing: 0px;
    --desktop-h1-bold-line-height: 52px;
    --desktop-h1-bold-font-style: normal;
    --desktop-h2-bold-font-family: "DM Sans", Helvetica;
    --desktop-h2-bold-font-weight: 700;
    --desktop-h2-bold-font-size: 36px;
    --desktop-h2-bold-letter-spacing: 0px;
    --desktop-h2-bold-line-height: 44px;
    --desktop-h2-bold-font-style: normal;
    --desktop-h3-bold-font-family: "DM Sans", Helvetica;
    --desktop-h3-bold-font-weight: 700;
    --desktop-h3-bold-font-size: 32px;
    --desktop-h3-bold-letter-spacing: 0px;
    --desktop-h3-bold-line-height: 40px;
    --desktop-h3-bold-font-style: normal;
    --desktop-h4-bold-font-family: "DM Sans", Helvetica;
    --desktop-h4-bold-font-weight: 700;
    --desktop-h4-bold-font-size: 24px;
    --desktop-h4-bold-letter-spacing: 0px;
    --desktop-h4-bold-line-height: 32px;
    --desktop-h4-bold-font-style: normal;
    --desktop-h4-extrabold-font-family: "DM Sans", Helvetica;
    --desktop-h4-extrabold-font-weight: 900;
    --desktop-h4-extrabold-font-size: 24px;
    --desktop-h4-extrabold-letter-spacing: 0px;
    --desktop-h4-extrabold-line-height: 32px;
    --desktop-h4-extrabold-font-style: normal;
    --desktop-paragraph-large-regular-font-family: "Inter", Helvetica;
    --desktop-paragraph-large-regular-font-weight: 400;
    --desktop-paragraph-large-regular-font-size: 18px;
    --desktop-paragraph-large-regular-letter-spacing: 0px;
    --desktop-paragraph-large-regular-line-height: 28px;
    --desktop-paragraph-large-regular-font-style: normal;
    --desktop-paragraph-large-medium-font-family: "Inter", Helvetica;
    --desktop-paragraph-large-medium-font-weight: 500;
    --desktop-paragraph-large-medium-font-size: 18px;
    --desktop-paragraph-large-medium-letter-spacing: 0px;
    --desktop-paragraph-large-medium-line-height: 28px;
    --desktop-paragraph-large-medium-font-style: normal;
    --desktop-paragraph-large-bold-font-family: "Inter", Helvetica;
    --desktop-paragraph-large-bold-font-weight: 700;
    --desktop-paragraph-large-bold-font-size: 18px;
    --desktop-paragraph-large-bold-letter-spacing: 0px;
    --desktop-paragraph-large-bold-line-height: 28px;
    --desktop-paragraph-large-bold-font-style: normal;
    --desktop-paragraph-medium-regular-font-family: "Inter", Helvetica;
    --desktop-paragraph-medium-regular-font-weight: 400;
    --desktop-paragraph-medium-regular-font-size: 16px;
    --desktop-paragraph-medium-regular-letter-spacing: 0px;
    --desktop-paragraph-medium-regular-line-height: 24px;
    --desktop-paragraph-medium-regular-font-style: normal;
    --desktop-paragraph-medium-medium-font-family: "Inter", Helvetica;
    --desktop-paragraph-medium-medium-font-weight: 500;
    --desktop-paragraph-medium-medium-font-size: 16px;
    --desktop-paragraph-medium-medium-letter-spacing: 0px;
    --desktop-paragraph-medium-medium-line-height: 24px;
    --desktop-paragraph-medium-medium-font-style: normal;
    --desktop-paragraph-medium-bold-font-family: "Inter", Helvetica;
    --desktop-paragraph-medium-bold-font-weight: 700;
    --desktop-paragraph-medium-bold-font-size: 16px;
    --desktop-paragraph-medium-bold-letter-spacing: 0px;
    --desktop-paragraph-medium-bold-line-height: 24px;
    --desktop-paragraph-medium-bold-font-style: normal;
    --desktop-paragraph-small-regular-font-family: "Inter", Helvetica;
    --desktop-paragraph-small-regular-font-weight: 400;
    --desktop-paragraph-small-regular-font-size: 14px;
    --desktop-paragraph-small-regular-letter-spacing: 0px;
    --desktop-paragraph-small-regular-line-height: 20px;
    --desktop-paragraph-small-regular-font-style: normal;
    --desktop-paragraph-small-medium-font-family: "Inter", Helvetica;
    --desktop-paragraph-small-medium-font-weight: 500;
    --desktop-paragraph-small-medium-font-size: 14px;
    --desktop-paragraph-small-medium-letter-spacing: 0px;
    --desktop-paragraph-small-medium-line-height: 20px;
    --desktop-paragraph-small-medium-font-style: normal;
    --desktop-paragraph-small-bold-font-family: "Inter", Helvetica;
    --desktop-paragraph-small-bold-font-weight: 700;
    --desktop-paragraph-small-bold-font-size: 14px;
    --desktop-paragraph-small-bold-letter-spacing: 0px;
    --desktop-paragraph-small-bold-line-height: 20px;
    --desktop-paragraph-small-bold-font-style: normal;
    --desktop-paragraph-xsmall-regular-font-family: "Inter", Helvetica;
    --desktop-paragraph-xsmall-regular-font-weight: 400;
    --desktop-paragraph-xsmall-regular-font-size: 12px;
    --desktop-paragraph-xsmall-regular-letter-spacing: 0px;
    --desktop-paragraph-xsmall-regular-line-height: 12px;
    --desktop-paragraph-xsmall-regular-font-style: normal;
    --desktop-paragraph-xsmall-medium-font-family: "Inter", Helvetica;
    --desktop-paragraph-xsmall-medium-font-weight: 500;
    --desktop-paragraph-xsmall-medium-font-size: 12px;
    --desktop-paragraph-xsmall-medium-letter-spacing: 0px;
    --desktop-paragraph-xsmall-medium-line-height: 12px;
    --desktop-paragraph-xsmall-medium-font-style: normal;
    --desktop-paragraph-xsmall-bold-font-family: "Inter", Helvetica;
    --desktop-paragraph-xsmall-bold-font-weight: 700;
    --desktop-paragraph-xsmall-bold-font-size: 12px;
    --desktop-paragraph-xsmall-bold-letter-spacing: 0px;
    --desktop-paragraph-xsmall-bold-line-height: 12px;
    --desktop-paragraph-xsmall-bold-font-style: normal;
    --mobile-h1-bold-font-family: "DM Sans", Helvetica;
    --mobile-h1-bold-font-weight: 700;
    --mobile-h1-bold-font-size: 36px;
    --mobile-h1-bold-letter-spacing: 0px;
    --mobile-h1-bold-line-height: 44px;
    --mobile-h1-bold-font-style: normal;
    --mobile-h2-bold-font-family: "DM Sans", Helvetica;
    --mobile-h2-bold-font-weight: 700;
    --mobile-h2-bold-font-size: 32px;
    --mobile-h2-bold-letter-spacing: 0px;
    --mobile-h2-bold-line-height: 40px;
    --mobile-h2-bold-font-style: normal;
    --mobile-h3-bold-font-family: "DM Sans", Helvetica;
    --mobile-h3-bold-font-weight: 700;
    --mobile-h3-bold-font-size: 28px;
    --mobile-h3-bold-letter-spacing: 0px;
    --mobile-h3-bold-line-height: 36px;
    --mobile-h3-bold-font-style: normal;
    --mobile-h4-bold-font-family: "DM Sans", Helvetica;
    --mobile-h4-bold-font-weight: 700;
    --mobile-h4-bold-font-size: 24px;
    --mobile-h4-bold-letter-spacing: 0px;
    --mobile-h4-bold-line-height: 32px;
    --mobile-h4-bold-font-style: normal;
    --mobile-h4-extrabold-font-family: "DM Sans", Helvetica;
    --mobile-h4-extrabold-font-weight: 800;
    --mobile-h4-extrabold-font-size: 24px;
    --mobile-h4-extrabold-letter-spacing: 0px;
    --mobile-h4-extrabold-line-height: 32px;
    --mobile-h4-extrabold-font-style: normal;
}